<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <img class="user-img" src="https://github.com/SaurabhNagaich/test-web/blob/main/userpic.jpg?raw=true" alt="">
    <h3 class="center">HI THERE !</h3>
    <h1 class="center">I'M <span>Saurabh Nagaich</span></h1>
    <p>I am belong to JHANSI(UP). I had completed Btech From BANSAL INSTITUTE BHOPAL(MP)
        from ELECTRONIC AND COMMUNICATION BRANCH.I had Completed my schooling from S.V.M MOTH-JHANSI(UP).
    </p>
    <p> I am good in Programming Languages--- C ,C#, C++ , JAVA , PYTHON,DotNet , PYTHON FRAMEWORK :- DJANGO , MYSQL , PANADAS
        and very much intersted in HTML , CSS , JAVA-SCRIPT. Ihad completed many project in HTML and PYTHON Languages
        like--- E-SHOPPING WEB , MANAGEMENT-WEB (PYTHON) , YOU-TUBE AND FACEBOOK (HTML AND CSS) and create many app like---
        tic-tac-toe (PYTHON), LUDO(JAVA) , FIGHTING-GAME(JAVA). In That Time I'm Working in a CoreCard Soft. Pvt. Ltd. Bhopal as a Full Stack developer.
    </p>
    <a  href="https://saurabhnagaich.github.io/Saurabh-Web-Resume/"><button class="btn about-me">about me <i class="fas fa-user"></i></button></a>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="https://www.facebook.com/saurabh.nagaich.5?mibextid=ZbWKwL">Facebook</a>
        <a href="https://youtube.com/@saurabhnagaich550">Youtube</a>
        <a href="https://youtube.com/@saurabhnagaich550">Instagram</a>
        <a href="https://mobile.twitter.com/SaurabhNagaich6">Twitter</a>
    </div>

</section>
