.navbar
{
    background-color: #ffffff;
}
.navbar-light .navbar-nav .nav-link
{
    color: #000000;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover
{
    text-decoration: underline;
}
.follow{
    justify-content: space-evenly;
    background-color: #f9ca24;
    size: 350px;
    text-align: center;
    font-size: large;
    
 }
 .icon{
    margin-left: 20px;
    margin-left: 20px;
 }
 .weblogo{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
 }
 .header-color{
    background-color: #2a9d8f !important;
 }